*
*::before
*::after {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;

}
input {
    border-radius: 10px;    
    width: 287px;
    height: 70px;
}
.container {
    display: flex;

}

button {
    border-radius: 10px;
    width: 70px;
    height: 85px;

}